src/conf/xml-resources/web-service-references/NewWebServiceFromWSDL/wsdl/localhost_8080/BookingServiceService/NewWebServiceFromWSDL.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.mc-boden.se/types/faultTypes" xmlns:tns="http://j2ee.netbeans.org/wsdl/BookingService/java/BookingService" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BookingService" targetNamespace="http://j2ee.netbeans.org/wsdl/BookingService/java/BookingService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.mc-boden.se/types/faultTypes">
            <element name="errorMSG" type="xsd:string"/>
        </schema>
    </types>
    <message name="BookingServiceOperationRequest">
        <part name="username" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="ticketID" type="xsd:string"/>
        <part name="creditCardNumber" type="xsd:string"/>
    </message>
    <message name="BookingServiceOperationResponse">
        <part name="bookingID" type="xsd:string"/>
    </message>
    <message name="fault1">
        <part name="fault" element="xsd1:errorMSG"/>
    </message>
    <portType name="BookingServicePortType">
        <operation name="BookingServiceOperation">
            <input name="input1" message="tns:BookingServiceOperationRequest"/>
            <output name="output1" message="tns:BookingServiceOperationResponse"/>
            <fault name="fault1" message="tns:fault1"/>
        </operation>
    </portType>
    <binding name="BookingServiceBinding" type="tns:BookingServicePortType">
        <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="BookingServiceOperation">
            <soap12:operation/>
            <input name="input1">
                <soap12:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/BookingService/java/BookingService"/>
            </input>
            <output name="output1">
                <soap12:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/BookingService/java/BookingService"/>
                <soap:header message="tns:fault1" part="fault" use="literal"/>
            </output>
            <fault name="fault1">
                <soap12:fault name="fault1" use="literal" namespace="http://j2ee.netbeans.org/wsdl/BookingService/java/BookingService"/>
            </fault>
        </operation>
    </binding>
    <service name="BookingServiceService">
        <port name="BookingServicePort" binding="tns:BookingServiceBinding">
            <soap12:address location="http://localhost:8080/BookingServiceService/NewWebServiceFromWSDL"/>
        </port>
    </service>
    <plnk:partnerLinkType name="BookingService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
        In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
        A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="BookingServicePortTypeRole" portType="tns:BookingServicePortType"/>
    </plnk:partnerLinkType>
</definitions>