src/conf/xml-resources/web-service-references/RouteService/wsdl/localhost_8080/RouteService/RouteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="checkRoute" type="tns:checkRoute"/>

<xs:element name="checkRouteResponse" type="tns:checkRouteResponse"/>

<xs:complexType name="checkRoute">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkRouteResponse">
<xs:sequence>
<xs:element name="return" type="tns:stringArray" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stringArray">
<xs:complexContent>
<xs:extension base="tns:valueArray">
<xs:sequence>
<xs:element name="_array" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="valueArray" abstract="true">
<xs:sequence>
<xs:element name="maximumCapacity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>